@page "/logout"
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var httpContext = HttpContextAccessor.HttpContext;

        if (httpContext != null)
        {
            await httpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
            NavigationManager.NavigateTo("/login", forceLoad: true);
        }

         // Redirect to login page
    }
}
